body {
    padding: 50px;
    margin: 5px;
    background: url("./back.jpg") no-repeat;
    border: 5px 5px 50px solid crimson;
    margin: 160px;
    border-radius: 40%;
}
.center {
    float: left;
    display: flex;
    content: initial;
    text-align: left;
    align-content: start;
    font-size: x-large;
    font-weight: bolder;
}
h1 {
    color: blueviolet;
    font: outline;
}
h3 {
    color: rgb(255, 255, 0);
}
.about {
    height: 250px;
    background-color: cadetblue;
    font-style: italic;
}
