.container {
    text-align: center;
    background-color: saddlebrown;
}
.form-container {
    width: 50%;
    margin: auto;
    padding: 15px;
    border: 2px;
    border-radius: 5px;
}
body {
    font-weight: bold;
}
h4 {
    font-weight: bolder;
    font-size: xx-large;
}